header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.column {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    background: url("dish-dash\assets\images\brooke-lark-wMzx2nBdeng-unsplash.jpg");
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 900px;

}


.button {

    margin-top: 10px;
}

header h1 {

    margin: 10px;
    padding: 10px;

}