header {
    background-color: gray;
}

.column {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
}